* {
  padding: 0;
  margin: 0;
  font-family:sans-serif;
  box-sizing: border-box;
}

body{
  background:#eee;
}

#app {
  margin: 0 auto;
  font-weight: normal;
  background:white;
  display:flex;
  flex-direction:column;
  min-height:100vh;
  align-items:center;
}